:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  --clr-primary-5: hsl(21, 62%, 45%);
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.top-section {
  margin-top: 300px;
  margin: 5rem;
}
.container {
  /* width: 100vw; */
  margin: 0 auto;
  max-width: 1170px;
  align-content: center;
  /* margin-right: inherit; */
}

.makeup-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  align-content: center;
  /* width: 1170px; */
}

.item {
  flex-basis: 15%;
  flex-grow: 2;
  gap: 2rem;
  align-content: center;
  list-style-type: none;
  max-height: max-content;
  display: flex;
  flex-direction: column;
}
.card {
  display: grid;
  align-content: center;
}
.pick-btn {
  width: 40px;
  height: 20px;
  background-color: white;
}

.btn {
  gap: inherit;
  margin-bottom: 0.5rem;
  border-radius: 5rem;
  height: 40px;
  width: 150px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin-top: 0.75rem;
}
.photo {
  width: 200px;
  height: 200px;
}
.btn:hover {
  box-sizing: inherit;
}
.fav-pick-header {
  align-content: center;
  text-align: center;
  margin-top: 5rem;
}

.header {
  text-align: center;
  font-weight: bolder;
}

.btns-section {
  border: 0.2rem solid black;
  width: 1170px;
  flex-flow: row;
  gap: 2rem;
}

.nav-bar {
  height: 100px;
  max-width: inherit;
  border: 0.1rem solid black;
  background-color: black;
  color: white;
  font-weight: bold;
  flex-direction: row-reverse;
}
.tag {
  color: white;
  font-weight: bold;
  top: 0;
  right: 0;
  /* padding-right: 4rem; */

  /* padding-left: 12rem; */
}
.header-photo {
  height: fit-content;
  width: max-content;
  margin-left: 5rem;
}
/*
.images-div {
  align-content: center;
  height: 600px;
  width: 300px;
  text-align: center;
} */
.section-center {
  position: relative;
  overflow: hidden;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.1s;
}
article.nextSlide {
  transform: translateX(100%);
  transition: all 0s;
}
article.prevSlide {
  transform: translateX(-100%);
  transition: all 0s;
}
#pick-btn-div {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.picks-btn {
  align-content: center;
  margin-left: 28rem;
}
.menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  /* align-content: flex-end; */
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 2.3rem;
  flex-basis: 15%;
  flex-grow: 3;
  /* border: 0.3rem solid white; */
  /* background-image: url("https://thumbs.dreamstime.com/b/makeup-products-cosmetics-spilling-out-to-pastel-peach-color-background-flat-lay-top-view-copy-space-female-make-up-makeup-172135373.jpg"); */
  /* border-radius: 2rem; */
}
.menu {
  padding-right: 3rem;
}

.nav-bar-list {
  padding-top: 10px;
  display: flex;
  list-style-type: none;
  padding: 50px;
}

.nav-bar-list > li {
  position: relative;
  display: flex;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 4rem;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: transform;
  display: none;
  padding-top: 30px;
  color: black;
}
.background {
  position: absolute;
  background: var(--clr-white);
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  transition: all 0.3s, opacity 0.1, translate 0.2s;
  opacity: 0;
}
.open-back {
  position: absolute;
  background: var(--clr-white);
  transform-origin: 50% 0%;
  display: flex;
  justify-content: center;
  transition: all 0.3s, opacity 0.1, translate 0.2s;
  opacity: 1;
}
.open-dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 4rem;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: transform;
  display: block;
  padding-top: 30px;
  color: black;
}
.open-dropdown-active {
  opacity: 1;
  position: absolute;
  overflow: hidden;
  padding: 20px;
  top: -20px;
  border-radius: 4rem;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: transform;
  display: block;
  padding-top: 30px;
  color: black;
}

/* //, opacity 0.1, translate 0.2s; */

.footer-container {
  background-color: black;
  align-content: center;
  height: 300px;
  text-align: center;
  /* position: absolute; */
}

.footer-list {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
}
.footer-list > li {
  /* position: relative; */
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  align-content: center;
}
.social-icons :hover {
  color: red;
}
/* .menu-items {
  justify-content: ;
  text-align: start;
  align-items: flex-start;
} */
.menu-items-container {
  overflow: hidden;
  transition: var(--transition);
  height: 0;
  padding-bottom: 1.3rem;
}

.menu-item {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-bottom: none;
  transition: var(--transition);
  padding-bottom: 2rem;
  /* text-align: end;
  display: ; */
  /* padding-left: 26rem; */
}

.tag {
  border-bottom: none;
  text-decoration: none;
}
.menu-item :hover {
  color: red;
}
.nav-bar {
  background-color: black;
  height: max-content;
}
.nav-header {
  display: grid;
  margin: 0 auto;
}
.nav-toggle {
  font-size: 2.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: #fff;
  padding-bottom: 1rem;
}
.nav-toggle:hover {
  color: var(--clr-red-dark);
  transform: rotate(360deg);
  cursor: pointer;
}

.brands-header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  /* margin-left: 50%; */
}

.brands {
  height: 150px;
  background-color: plum;
}

.brands-cont {
  height: 0px;
  overflow: hidden;
  transition: var(--transition);
}
.brands-list {
  display: grid;
  list-style-type: none;
  padding-left: 14rem;
  height: auto;
  font-weight: bold;
}
.brands-list > li :hover {
  color: blue;
  cursor: pointer;
}

.info {
  list-style-type: none;
  display: grid;
}
.info > li {
  list-style-type: none;
  padding-bottom: 2rem;
  align-content: center;
}

.signup-form {
  display: flex;
  align-content: center;
  margin-left: 1.5rem;
  width: 400px;
  align-items: center;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  padding-right: 1rem;
}

.cart-bg {
  background-image: url("https://i.pinimg.com/originals/1e/ef/c5/1eefc5567dc5c55f67ef6849b9235582.jpg");
  size: cover;
}
.cart-page {
  text-align: center;
  justify-content: center;
  /* margin-right: 40rem; */
  color: #fff;
}
.cart-item {
  margin: 0;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  list-style: none;
  display: flex;
  list-style-type: none;
}
.cart-img {
  width: 120px;
  height: 120px;
}
.brand-img {
  height: 300px;
  width: 300px;
  border-color: transparent;
  background-color: transparent;
}
.item-list {
  list-style-type: none;
  padding-bottom: 5rem;
  display: flex;
  padding-right: 3rem;
  border-radius: 0.5rem;
  border-color: grey;
  border: 0.02rem solid grey;
  padding-top: 2rem;
  padding-left: 0.5rem;
  border-width: inherit;
}
li {
  list-style-type: none;
}

.increase {
  width: 3rem;
  height: 2rem;
  margin-right: 2rem;
  border: 0.2rem solid black;
  border-radius: 2rem;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
}
.searchForm {
  background-image: url("https://i.pinimg.com/originals/2a/68/a1/2a68a175ae29b2027100e0b218141a6d.png");
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  background-position: center;
  height: 700px;
  background-color: white;
}

.shopping-count {
  top: 0;
  padding-left: 80rem;
}

.videos {
  position: absolute;
  display: inline-flex;
}
